<footer class="site-footer">
  <div class="wrap">
    <span>© 2019–{{ 'now' | date: "%Y" }} {{ site.title }} · // this is YadoreZ speaking</span>
    <span class="foot-links">
      {%- if site.github_username -%}<a href="https://github.com/{{ site.github_username }}">github</a>{%- endif -%}
      {%- if site.twitter_username -%}<a href="https://twitter.com/{{ site.twitter_username }}">twitter</a>{%- endif -%}
      {%- if site.gh_username -%}<a href="https://guidedhacking.com/members/{{ site.gh_username }}/">guidedhacking</a>{%- endif -%}
      <a href="{{ '/feed.xml' | relative_url }}">rss</a>
    </span>
  </div>
</footer>
